.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {

}

.dialogsItems a {
    padding: 10px;
    color: black;
    text-decoration: none;
}

.dialogsItems a.active {
    color: white;
}

.messages {
    padding: 10px;
}

.message {

}